.contact-form__content {
    margin: 0 auto;
    padding: 15px;
    max-width: 1230px;
}

.contact-form__heading {
    text-align: center;
    color: #bf9e3b;
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
}

.contact-form {
    margin: 10px auto;
    width: 90%;
    text-align: center;
}

.contact-table {
    width: 100%;
}

.contact-table__row {
    margin-top: 20px;
    height: 50px;
}

.contact-table__header {
    vertical-align: top;
    text-align: left;
    width: 30%;
}

.contact-table__header-item {
    color: #555;
}

.contact-table__header-required {
    color: #c00;
}

.contact-table__name {
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

.contact-table__name-input {
    height: 30px;
    width: 45%;
    border: none;
    border-radius: 3px;
    background: #eee;
    color: #777;
    padding-left: 30px;
}

.contact-table__gender {
    vertical-align: top;
    text-align: left;
}

.contact-table__gender-input {
    margin-left: 10px;
    accent-color: #555;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: #eee;
    color: #777;
}

.contact-table__gender-label {
    margin-right: 15%;
    color: #555;
}

.contact-table__email,
.contact-table__address,
.contact-table__building {
    vertical-align: top;
}

.contact-table__email-input,
.contact-table__address-input,
.contact-table__building-input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #eee;
    color: #777;
    padding-left: 30px;
}

.contact-table__tel {
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

.contact-table__tel-input {
    width: 30%;
    padding: 0 auto;
    border: none;
    border-radius: 3px;
    background: #eee;
    color: #777;
    text-align: center;
}

.contact-table__tel-span {
    color: #555;
}

.contact-table__category {
    vertical-align: top;
}

.contact-table__category--symbol {
    position: relative;
    text-align: left;
    width: 50%;
}

.contact-table__category--symbol::after {
    content: "▼";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #bbb;
}

.contact-table__category-select {
    height: 30px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    background: #eee;
    color: #777;
    padding-left: 30px;
}



.contact-table__detail {
    vertical-align: top;
}

.contact-table__detail-textarea {
    padding: 5px 30px;
    width: 100%;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    background: #eee;
    color: #777;
}

.contact-table__error {
    vertical-align: top;
    text-align: left;
    color: #c00;
}

ul {
    margin-top: 0;
}


.contact-table__button {
    margin: 20px auto;
    width: 100px;
}

.contact-table__button-submit {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #7c7b7b;
    color: #fff;
    cursor: pointer;
}
