.register-form__content {
    padding: 50px;
    height: 100vh;
    background: #ece6d8;
}

.register-form__heading {
    text-align: center;
}

.register-form__heading h2 {
    margin: 0;
    color: #7f6a2d;
    font-family: serif;
}

.form {
    margin: 50px auto;
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__label--item {
    color: #7f6a2d;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #eee;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #8f815f;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}