# =========================
# Environment
# =========================
.env
.env.*
.env.backup

# =========================
# Composer / Node
# =========================
/vendor/
/node_modules/

# =========================
# Laravel storage
# =========================
/storage/*
!/storage/.gitignore
!/storage/app/public/
/storage/*.key

# =========================
# Cache
# =========================
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# =========================
# Public
# =========================
/public/storage
/public/hot

# =========================
# Logs / cache
# =========================
npm-debug.log*
yarn-error.log*
.phpunit.result.cache

# =========================
# IDE
# =========================
.idea
.vscode

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
